* {
  margin: 0;
  padding: 0;
}
.card-product {
  display: flex;
  justify-content: space-around;
  padding: 200px;
  gap: 50px;
}
.App {
  background-image: url(https://vnn-imgs-f.vgcloud.vn/2018/02/06/11/dai-ngan-ha-la-gi.jpg);
}
.cart {
  font-size: 30px;
  color: aqua;
}
.cart-item button {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 1350px;
  padding: 10px;
}
.button {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.count {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.count button {
  border-radius: 50%;
  padding: 10px;
}
